*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    background-color: rgb(230,230,250);
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
}

#minha_foto{
    margin: 110px 20px 0px;
    width: 250px;
}

#licoes_titulo{ 
    margin: 20px 100px 0px;
}

#licoes_aprendidas, #licoes_a_aprender{
    margin: 10px 40px 0px;
    display: inline-block;
}

.aprendizado-descricao{
    display: flex;
    width: 100%;
}

#aprendizado_titulo, #descricao_titulo{
    margin: 20px 20px 0px;
}

#aprendizado_texto, #descricao_texto{
    text-align: justify;
    margin: 10px 20px 60px;
}

#rodape{
    background-color: rgb(230,230,250);
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}
