*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    background-color: aquamarine;
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
}

#minha_foto{
    margin: 100px 20px 0px;
    width: 250px;
}

h2{
    margin: 20px 100px 0px;
}

#licoes_aprendidas, #licoes_a_aprender{
    margin: 20px 40px 0px;
    display: inline-block;
}